*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}
.color-orange{
  color: #FD6E0A;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  background-color: #FD6E0A;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
}
header{
  background-color: #FFF8F3;
  padding-top: 50px;
}
nav{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 67%;
  max-width: 1140px;
  align-items: center;
}
nav .menu{
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}
nav .menu a{
  color: #474744;
  text-decoration: none;
}